In [1]:
import pandas as pd

# Creating the dataset
data = {
    "Tid": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "Refund": ["Yes", "No", "No", "Yes", "No", "No", "Yes", "No", "No", "No"],
    "Marital Status": ["Single", "Married", "Single", "Married", "Divorced", "Married",
                       "Divorced", "Single", "Married", "Single"],
    "Taxable Income": ["125K", "100K", "70K", "120K", "95K", "60K", "220K", "85K", "75K", "90K"],
    "Cheat": ["No", "No", "No", "No", "Yes", "No", "No", "Yes", "No", "Yes"]
}
df = pd.DataFrame(data)
print(df)

   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
1    2     No        Married           100K    No
2    3     No         Single            70K    No
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No
9   10     No         Single            90K   Yes

In [2]:
selected_rows = df.iloc[[0, 4, 7, 8]]
print(selected_rows)

   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
4    5     No       Divorced            95K   Yes
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No

In [3]:
#Select row from index 3 to 7.
rows_3_to_7 = df.iloc[3:8]
print(rows_3_to_7)

#Select row from index 4 to 8, and column 2 to 4.
subset_rows_cols = df.iloc[4:9, 2:5]
print(subset_rows_cols)

#Select all rows with column index 1 to 3 (include index 3 during selection).
all_rows_columns_1_to_3 = df.iloc[:, 1:4]
print(all_rows_columns_1_to_3)

   Tid Refund Marital Status Taxable Income Cheat
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K    No
7    8     No         Single            85K   Yes
  Marital Status Taxable Income Cheat
4       Divorced            95K   Yes
5        Married            60K    No
6       Divorced           220K    No
7         Single            85K   Yes
8        Married            75K    No
  Refund Marital Status Taxable Income
0    Yes         Single           125K
1     No        Married           100K
2     No         Single            70K
3    Yes        Married           120K
4     No       Divorced            95K
5     No        Married            60K
6    Yes       Divorced           220K
7     No         Single            85K
8     No        Married            75K
9     No         Single            90K

In [4]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"deepakshi123582","key":"0d066068b0871bc624e7cafb4b012195"}'}

In [5]:
import os
!mkdir -p ~/.kaggle
!mv kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [6]:
!kaggle datasets download -d uciml/iris

Dataset URL: https://www.kaggle.com/datasets/uciml/iris
License(s): CC0-1.0

In [7]:
import zipfile

with zipfile.ZipFile("iris.zip", 'r') as zip_ref:
    zip_ref.extractall("iris_data")

In [8]:
import pandas as pd

df = pd.read_csv("iris_data/Iris.csv")
print(df.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [9]:
import pandas as pd

# Load the dataset
df = pd.read_csv("iris_data/Iris.csv")

# Delete row with index 4
df = df.drop(index=4)

# Delete column with index 3
df = df.drop(df.columns[3], axis=1)
print(df.head(10))

    Id  SepalLengthCm  SepalWidthCm  PetalWidthCm      Species
0    1            5.1           3.5           0.2  Iris-setosa
1    2            4.9           3.0           0.2  Iris-setosa
2    3            4.7           3.2           0.2  Iris-setosa
3    4            4.6           3.1           0.2  Iris-setosa
5    6            5.4           3.9           0.4  Iris-setosa
6    7            4.6           3.4           0.3  Iris-setosa
7    8            5.0           3.4           0.2  Iris-setosa
8    9            4.4           2.9           0.2  Iris-setosa
9   10            4.9           3.1           0.1  Iris-setosa
10  11            5.4           3.7           0.2  Iris-setosa

In [10]:
import pandas as pd
data = {
    "Employee_ID": [101, 102, 103, 104, 105],
    "Name": ["Alice", "Bob", "Charlie", "Diana", "Edward"],
    "Department": ["HR", "IT", "IT", "Marketing", "Sales"],
    "Age": [29, 34, 41, 38, 38],
    "Salary": [50000, 70000, 65000, 55000, 60000],
    "Years_of_Experience": [4, 8, 10, 3, 12],
    "Joining_Date": ["2020-03-15", "2017-07-19", "2013-06-01", "2021-02-10", "2010-11-25"],
    "Gender": ["Female", "Male", "Male", "Female", "Male"],
    "Bonus": [7000, 7000, 6000, 4500, 5000],
    "Rating": [4.5, 4.0, 3.8, 4.7, 3.5]
}

df = pd.DataFrame(data)
df.to_csv("employees.csv", index=False)
df = pd.read_csv("employees.csv")
print(df)

   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   38   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   7000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

In [26]:
#Shape (number of rows and columns) of the DataFrame.
print("Shape of DataFrame:", df.shape)
#Summary of the DataFrame that includes the data types and non-null counts for
#each column.
print(df.info())
#Generate descriptive statistics.
print(df.describe())
#Display the first 5 rows and last 3 rows of the dataset.
print("First 5 Rows:\n", df.head())
print("Last 3 Rows:\n", df.tail(3))
#Calculate the following statistics from the dataset:
#i. The average salary of employees.
#ii. The total bonus paid to all employees.
#iii. The youngest employee's age.
#iv. The highest performance rating.
print("Average Salary:", df['Salary'].mean())
print("Total Bonus:", df['Bonus'].sum())
print("Youngest Employee Age:", df['Age'].min())
print("Highest Rating:", df['Rating'].max())
#f) Sort the DataFrame by the Salary column in descending order.
df_sorted = df.sort_values(by='Salary', ascending=False)
print(df_sorted)
#g) Add a new column that categorizes employees based on their performance rating:
#i. Excellent for ratings >= 4.5
#ii. Good for ratings >= 4.0 but < 4.5
#iii. Average for ratings < 4.0
def categorize_rating(rating):
    if rating >= 4.5:
        return 'Excellent'
    elif rating >= 4.0:
        return 'Good'
    else:
        return "Average"

df['Performance_Category'] = df['Rating'].apply(categorize_rating)
print(df)
#Identify missing values in the DataFrame.
print(df.isnull().sum())
#Rename the Employee_ID column to ID.
df.rename(columns={'Employee_ID': 'ID'}, inplace=True)
print(df)
#Find all employees who:
#i. Have more than 5 years of experience.
#ii. Belong to the IT department.
experienced_employees = df[df["Years_of_Experience"] > 5]
print(experienced_employees)
it_employees = df[df["Department"] == "IT"]
print(it_employees)
#Modify the dataset by adding a new column, Tax, which deducts 10% of the
#Salary.
df['Tax'] = df['Salary'] * 0.1
print(df)
#Save the modified DataFrame (with added columns) to a new CSV file.
df.to_csv("modified_employees.csv", index=False)
print("File saved as modified_employees.csv")

Shape of DataFrame: (5, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    5 non-null      int64
 1   Name                  5 non-null      object
 2   Department            5 non-null      object
 3   Age                   5 non-null      int64
 4   Salary                5 non-null      int64
 5   Years_of_Experience   5 non-null      int64
 6   Joining_Date          5 non-null      object
 7   Gender                5 non-null      object
 8   Bonus                 5 non-null      int64
 9   Rating                5 non-null      float64
 10  Performance_Category  5 non-null      object
 11  Tax                   5 non-null      float64
dtypes: float64(2), int64(5), object(5)
memory usage: 612.0+ bytes
None
               ID        Age       Salary  Years_of_Experience        Bonus  \
count    5.000000   5.000000      5.00000             5.000000     5.000000
mean   103.000000  36.000000  60000.00000             7.400000  5900.000000
std      1.581139   4.636809   7905.69415             3.847077  1140.175425
min    101.000000  29.000000  50000.00000             3.000000  4500.000000
25%    102.000000  34.000000  55000.00000             4.000000  5000.000000
50%    103.000000  38.000000  60000.00000             8.000000  6000.000000
75%    104.000000  38.000000  65000.00000            10.000000  7000.000000
max    105.000000  41.000000  70000.00000            12.000000  7000.000000

         Rating          Tax
count  5.000000     5.000000
mean   4.100000  6000.000000
std    0.494975   790.569415
min    3.500000  5000.000000
25%    3.800000  5500.000000
50%    4.000000  6000.000000
75%    4.500000  6500.000000
max    4.700000  7000.000000
First 5 Rows:
     ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   2020-03-15
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   38   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2010-11-25

   Gender  Bonus  Rating Performance_Category     Tax
0  Female   7000     4.5            Excellent  5000.0
1    Male   7000     4.0                 Good  7000.0
2    Male   6000     3.8              Average  6500.0
3  Female   4500     4.7            Excellent  5500.0
4    Male   5000     3.5              Average  6000.0
Last 3 Rows:
     ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
2  103  Charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   38   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2010-11-25

   Gender  Bonus  Rating Performance_Category     Tax
2    Male   6000     3.8              Average  6500.0
3  Female   4500     4.7            Excellent  5500.0
4    Male   5000     3.5              Average  6000.0
Average Salary: 60000.0
Total Bonus: 29500
Youngest Employee Age: 29
Highest Rating: 4.7
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
4  105   Edward      Sales   38   60000                   12   2010-11-25
3  104    Diana  Marketing   38   55000                    3   2021-02-10
0  101    Alice         HR   29   50000                    4   2020-03-15

   Gender  Bonus  Rating Performance_Category     Tax
1    Male   7000     4.0                 Good  7000.0
2    Male   6000     3.8              Average  6500.0
4    Male   5000     3.5              Average  6000.0
3  Female   4500     4.7            Excellent  5500.0
0  Female   7000     4.5            Excellent  5000.0
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   2020-03-15
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   38   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2010-11-25

   Gender  Bonus  Rating Performance_Category     Tax
0  Female   7000     4.5            Excellent  5000.0
1    Male   7000     4.0                 Good  7000.0
2    Male   6000     3.8              Average  6500.0
3  Female   4500     4.7            Excellent  5500.0
4    Male   5000     3.5              Average  6000.0
ID                      0
Name                    0
Department              0
Age                     0
Salary                  0
Years_of_Experience     0
Joining_Date            0
Gender                  0
Bonus                   0
Rating                  0
Performance_Category    0
Tax                     0
dtype: int64
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   2020-03-15
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   38   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2010-11-25

   Gender  Bonus  Rating Performance_Category     Tax
0  Female   7000     4.5            Excellent  5000.0
1    Male   7000     4.0                 Good  7000.0
2    Male   6000     3.8              Average  6500.0
3  Female   4500     4.7            Excellent  5500.0
4    Male   5000     3.5              Average  6000.0
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
4  105   Edward      Sales   38   60000                   12   2010-11-25

  Gender  Bonus  Rating Performance_Category     Tax
1   Male   7000     4.0                 Good  7000.0
2   Male   6000     3.8              Average  6500.0
4   Male   5000     3.5              Average  6000.0
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01

  Gender  Bonus  Rating Performance_Category     Tax
1   Male   7000     4.0                 Good  7000.0
2   Male   6000     3.8              Average  6500.0
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   2020-03-15
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   38   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2010-11-25

   Gender  Bonus  Rating Performance_Category     Tax
0  Female   7000     4.5            Excellent  5000.0
1    Male   7000     4.0                 Good  7000.0
2    Male   6000     3.8              Average  6500.0
3  Female   4500     4.7            Excellent  5500.0
4    Male   5000     3.5              Average  6000.0
File saved as modified_employees.csv