In [2]:
print ("Hello World")

Hello World

In [3]:
a = 10
b = 220
c = a + b
print (a, " + ", b, " --> ", c)

10  +  220  -->  230

In [4]:
a = "Bhagat"
b = " Singh"
c = a + b
print (a, " + ", b, " --> ", c)

Bhagat  +   Singh  -->  Bhagat Singh

In [5]:
a = "Bhagat"
b = 100
c = a + str(b)
print (a, " + ", b, " --> ", c)

Bhagat  +  100  -->  Bhagat100

In [6]:
a = 10
b = 220
c = 223
d = a + b  + c
print (a, " + ", b, " + ", c, " --> ", d)

10  +  220  +  223  -->  453

In [7]:
a = "Divya"
b = " Sharma"
c = " 2025"
d = a + b + c
print (a, " + ", b, "+" ,c," --> ", d)

Divya  +   Sharma +  2025  -->  Divya Sharma 2025

In [8]:
a = input("Enter First String: ")
b = input("Enter Second String: ")
c = a + b
print  (a, " + ", b, "      --> ", c)

Enter First String: dhriri
Enter Second String: sharma
dhriri  +  sharma       -->  dhririsharma

In [9]:
a = int(input("Enter First No: "))
b = int(input("Enter Second No: "))
c = a + b
print (a, " + ", b, " --> ", c)

Enter First No: 23
Enter Second No: 25
23  +  25  -->  48

In [10]:
i=1
while i <= 10:
	print (i)
	i = i+1

1
2
3
4
5
6
7
8
9
10

In [11]:
i=1
while i <= 10:
	print (i)
	i = i+1

1
2
3
4
5
6
7
8
9
10

In [12]:

for i in range(0,10):
	print (i)

0
1
2
3
4
5
6
7
8
9

In [13]:
for i in range(0,20,2):
	print (i)

0
2
4
6
8
10
12
14
16
18

In [14]:
for i in range(0,-10,-1):
	print (i)

0
-1
-2
-3
-4
-5
-6
-7
-8
-9

In [15]:
for i in range(1,11):
	print (5," * ", i , " = ", i * 5)

5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50

In [16]:
s=0
for i in range(1,11):
	s=s+i
print ("Sum is --> ",s)

Sum is -->  55

In [17]:

print ("Sum is --> ", sum(range(1,11)))

Sum is -->  55

In [18]:
n = int(input("Enter the value of n: "))
total_sum = 0

for i in range(1, n+1):
   if i % 7 == 0 and i % 9 == 0:
        total_sum += i

print("The sum of numbers divisible by both 7 and 9 from 1 to", n, "is:", total_sum)

Enter the value of n: 100
The sum of numbers divisible by both 7 and 9 from 1 to 100 is: 63

In [19]:
def print_table(number):
    for i in range(1, 11):
        print(f"{number} x {i} = {number * i}")
print("Table of 7:")
print_table(7)
print("\nTable of 9:")
print_table(9)

Table of 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Table of 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [20]:
def print_table(n):
    for i in range(1, 11):
        print(f"{n} x {i} = {n * i}")

n = int(input("Enter the number to print the table: "))
print(f"\nTable of {n}:")
print_table(n)

Enter the number to print the table: 6

Table of 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [21]:
def add_numbers(n):
    total_sum = 0
    for i in range(1, n+1):
        total_sum += i
    return total_sum

n = int(input("Enter the value of n: "))

result = add_numbers(n)

print(f"The sum of all numbers from 1 to {n} is: {result}")

Enter the value of n: 9
The sum of all numbers from 1 to 9 is: 45

In [22]:
a = int(input("Enter First No: "))
b = int(input("Enter Second No: "))
if  a > b:
	print (a," > ",b)
else:
	print (a," < ",b)

Enter First No: 23
Enter Second No: 24
23  <  24

In [23]:
n = int(input("Enter a No: "))
if  n % 2 == 0:
	print (n," is even")
else:
	print (n," is odd")

Enter a No: 21
21  is odd

In [24]:
n = int(input("Enter a No: "))
f=0
for i in range(2, n//2 + 1):
	if  n % i == 0:
		f=1
		break

if f==0:
	print ("Prime")
else:
	print ("Not Prime")

Enter a No: 43
Prime

In [25]:

a = input("Enter First String : ")
b = input("Enter Second String: ")

if a == b:
	print ("a == b")
elif a >= b:
	print ("a > b")
else:
	print ("a < b")

Enter First String : 45
Enter Second String: 23
a > b

In [26]:
a = float(input("Enter the first number: "))
b = float(input("Enter the second number: "))
c = float(input("Enter the third number: "))

max_num = max(a, b, c)
print(f"The maximum number among {a}, {b}, and {c} is: {max_num}")

Enter the first number: 6
Enter the second number: 9
Enter the third number: 8
The maximum number among 6.0, 9.0, and 8.0 is: 9.0

In [27]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def add_prime_numbers(n):
    total_sum = 0
    for i in range(2, n+1):
        if is_prime(i):
            total_sum += i
    return total_sum

n = int(input("Enter the value of n: "))
result = add_prime_numbers(n)

print(f"The sum of all prime numbers from 1 to {n} is: {result}")

Enter the value of n: 9
The sum of all prime numbers from 1 to 9 is: 17

In [28]:
def Add(a,b):
	c=a+b
	return c

print ("Add(10,20) -->", Add(10,20))
print ("Add(20,50) -->", Add(20,50))
print ("Add(80,200) -->", Add(80,200))

Add(10,20) --> 30
Add(20,50) --> 70
Add(80,200) --> 280

In [29]:
def IsPrime(n):
	for i in range(2, n//2 + 1):
		if n%i==0:
			return 0
	return 1

print ("IsPrime(20)  --> ", IsPrime(20))
print ("IsPrime(23)  --> ", IsPrime(23))
print ("IsPrime(200) --> ", IsPrime(200))
print ("IsPrime(37)  --> ", IsPrime(37))

IsPrime(20)  -->  0
IsPrime(23)  -->  1
IsPrime(200) -->  0
IsPrime(37)  -->  1

In [30]:
def AddN(n):
	s= sum(range(n+1))
	return s

print ("AddN(10)  --> ", AddN(10))
print ("AddN(20)  --> ", AddN(20))
print ("AddN(50)  --> ", AddN(50))
print ("AddN(200) --> ", AddN(200))

AddN(10)  -->  55
AddN(20)  -->  210
AddN(50)  -->  1275
AddN(200) -->  20100

In [31]:
def add_odd_numbers(n):
    total_sum = 0
    for i in range(1, n+1):
        if i % 2 != 0:
            total_sum += i
    return total_sum

n = int(input("Enter the value of n: "))
result = add_odd_numbers(n)

print(f"The sum of all odd numbers from 1 to {n} is: {result}")

Enter the value of n: 5
The sum of all odd numbers from 1 to 5 is: 9

In [32]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

def add_prime_numbers(n):
    total_sum = 0
    for i in range(2, n + 1):
        if is_prime(i):
            total_sum += i
    return total_sum

n = int(input("Enter the value of n: "))

result = add_prime_numbers(n)

print(f"The sum of all prime numbers from 1 to {n} is: {result}")

Enter the value of n: 10
The sum of all prime numbers from 1 to 10 is: 17

In [33]:
import math as m
print ("exp(-200)    --> ", m.exp(-200))  # Exponential function
print ("log(100,2)   --> ", m.log(100,2)) # Log
print ("log(100,10)  --> ", m.log(100,10))# Log
print ("log10(100)   --> ", m.log10(100)) # Log 10
print ("m.cos(30)    --> ", m.cos(30))    # cos
print ("m.sin(30)    --> ", m.sin(30))    # sin
print ("m.tan(30)    --> ", m.tan(30))    # tan
print ("m.sqrt(324)  --> ", m.sqrt(324))
print ("m.ceil(89.9) --> ", m.ceil(89.9))
print ("m.floor(89.9)--> ", m.floor(89.9))

exp(-200)    -->  1.3838965267367376e-87
log(100,2)   -->  6.643856189774725
log(100,10)  -->  2.0
log10(100)   -->  2.0
m.cos(30)    -->  0.15425144988758405
m.sin(30)    -->  -0.9880316240928618
m.tan(30)    -->  -6.405331196646276
m.sqrt(324)  -->  18.0
m.ceil(89.9) -->  90
m.floor(89.9)-->  89

In [34]:
import math as m
print ("exp(-200)    --> ", m.exp(-200))  # Exponential function
print ("log(100,2)   --> ", m.log(100,2)) # Log
print ("log(100,10)  --> ", m.log(100,10))# Log
print ("log10(100)   --> ", m.log10(100)) # Log 10
print ("m.cos(30)    --> ", m.cos(30))    # cos
print ("m.sin(30)    --> ", m.sin(30))    # sin
print ("m.tan(30)    --> ", m.tan(30))    # tan
print ("m.sqrt(324)  --> ", m.sqrt(324))
print ("m.ceil(89.9) --> ", m.ceil(89.9))
print ("m.floor(89.9)--> ", m.floor(89.9))

exp(-200)    -->  1.3838965267367376e-87
log(100,2)   -->  6.643856189774725
log(100,10)  -->  2.0
log10(100)   -->  2.0
m.cos(30)    -->  0.15425144988758405
m.sin(30)    -->  -0.9880316240928618
m.tan(30)    -->  -6.405331196646276
m.sqrt(324)  -->  18.0
m.ceil(89.9) -->  90
m.floor(89.9)-->  89

In [35]:

var = 'Hello World!'
print ("String --> ", var)
print ("Length --> : ", len(var))
print ("Upper  --> : ", var.upper())
print ("Lower  --> : ", var.lower())

String -->  Hello World!
Length --> :  12
Upper  --> :  HELLO WORLD!
Lower  --> :  hello world!

In [36]:

name=input("Enter your name: ")
age=int(input("Enter your age : "))
price=float(input("Enter the book price: "))
s="\nYour name is %s, age is %d and book price is %f" %(name.upper(),age,price)
print (s)

Enter your name: Divya
Enter your age : 20
Enter the book price: 550.23

Your name is DIVYA, age is 20 and book price is 550.230000

In [37]:

var =" Indian   Army    "

print("String    --> ", var)
print("Length    --> ", len(var))
print("var strip --> ", var.strip())
print("Length of var after strip --> ", len(var.strip()))

String    -->   Indian   Army
Length    -->  18
var strip -->  Indian   Army
Length of var after strip -->  13

In [38]:
var =" Indian,   Army    "

print("String    --> ", var)
print("Length    --> ", len(var))
print("var split --> ", var.split())
print("var split --> ", var.split(' '))
print("var split --> ", var.split(','))

String    -->   Indian,   Army
Length    -->  19
var split -->  ['Indian,', 'Army']
var split -->  ['', 'Indian,', '', '', 'Army', '', '', '', '']
var split -->  [' Indian', '   Army    ']

In [39]:
var=" Indian Army    "
print ("String       --> ", var)
print ("Count of ' ' --> ", var.count(' '))
print ("Count of 'a' --> ", var.count('a'))
print ("Count of 'n' --> ", var.count('an'))

String       -->   Indian Army
Count of ' ' -->  6
Count of 'a' -->  1
Count of 'n' -->  1

In [40]:

var="Indian Army"
print ("String    --> ", var)
print ("var[::1]  --> ", var[::1])
print ("var[::2]  --> ", var[::2])
print ("var[::-1] --> ", var[::-1])
print ("var[::-2] --> ", var[::-2])

var=var[::-1]
print ("var after reverse --> ", var)

String    -->  Indian Army
var[::1]  -->  Indian Army
var[::2]  -->  Ida ry
var[::-1] -->  ymrA naidnI
var[::-2] -->  yr adI
var after reverse -->  ymrA naidnI

In [41]:
s1="Indian Army"
s2="malayalam"
s3="madam"
s4="teacher"
print ("s1 --> ", s1==s1[::-1])
print ("s2 --> ", s2==s2[::-1])
print ("s3 --> ", s3==s3[::-1])
print ("s4 --> ", s4==s4[::-1])

s1 -->  False
s2 -->  True
s3 -->  True
s4 -->  False

In [42]:
import random as r
print (r.randint(1, 100))
print (r.randint(1, 100))
print (r.randint(-10, 10))
print (r.randint(-10, 10))

5
88
-4
5

In [43]:
import random as r
print (r.uniform(1, 100))
print (r.uniform(1, 100))
print (r.uniform (-10, 10))
print (r.uniform (-10, 10))
print (round(r.uniform (-10, 10),2))

86.03163840126871
83.88217312885966
-1.9754864209421683
9.857356415030655
9.29

In [44]:
import random as r

A=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print (r.sample(A, 4))
print (r.sample(A, 2))
print (r.sample(range(0,100), 2))
print (r.sample(range(-100,100), 5))

[5, 1, 3, 2]
[2, 1]
[90, 8]
[82, -38, 95, -8, 25]

In [45]:
import string as s
import random as r
print ("String        --> ",s.ascii_letters)

passwd=r.sample(s.ascii_letters, 6)
print ("Selected Char --> ",passwd)

passwd1="".join(passwd)
print ("passwd1       --> ",passwd1)

passwd2="+".join(passwd)
print ("passwd2       --> ",passwd2)

passwd3="*".join(passwd)
print ("passwd3       --> ",passwd3)

String        -->  abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
Selected Char -->  ['U', 'x', 'r', 'D', 't', 'c']
passwd1       -->  UxrDtc
passwd2       -->  U+x+r+D+t+c
passwd3       -->  U*x*r*D*t*c

In [46]:
import string as s
import random as r
print ("Digits --> ",s.digits)

otp=r.sample(s.digits, 5)
print ("Selected num1 --> ",otp)
otp="".join(otp)
print ("otp1          --> ",otp)

otp=r.sample(s.digits, 5)
print ("Selected num2 --> ",otp)
otp="".join(otp)
print ("otp2          --> ",otp)

otp=r.sample(s.digits, 5)
print ("Selected num2 --> ",otp)
otp="".join(otp)
print ("otp3          --> ",otp)

Digits -->  0123456789
Selected num1 -->  ['5', '2', '9', '6', '1']
otp1          -->  52961
Selected num2 -->  ['7', '4', '0', '9', '1']
otp2          -->  74091
Selected num2 -->  ['8', '2', '3', '4', '5']
otp3          -->  82345

In [47]:
import string as s
import random as r
print ("String + Digits --> ",s.ascii_letters + s.digits)

mixPasswd=r.sample(s.ascii_letters + s.digits, 5)
print ("\nSelected Str1 --> ",mixPasswd)
mixPasswd="".join(mixPasswd)
print ("mixPasswd1    --> ",mixPasswd)

mixPasswd=r.sample(s.ascii_letters + s.digits, 6)
print ("\nSelected Str2 --> ",mixPasswd)
mixPasswd="".join(mixPasswd)
print ("mixPasswd2    --> ",mixPasswd)

splChar="#@!~%^&*()_+=-[]{}|"
mixPasswd=r.sample(splChar + s.ascii_letters + s.digits, 8)
print ("\nSelected Str3 --> ",mixPasswd)
mixPasswd="".join(mixPasswd)
print ("mixPasswd3    --> ",mixPasswd)

String + Digits -->  abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789

Selected Str1 -->  ['D', 'V', 'y', 'U', 'q']
mixPasswd1    -->  DVyUq

Selected Str2 -->  ['i', 'R', 'X', 'z', 'w', 'T']
mixPasswd2    -->  iRXzwT

Selected Str3 -->  ['A', '*', 'b', 'c', 'u', 'D', 'K', '4']
mixPasswd3    -->  A*bcuDK4

In [48]:
for i in range(-5,6):
	try:
		print ("100/",i," --> ", 100/i)
	except:
		print ("error")

100/ -5  -->  -20.0
100/ -4  -->  -25.0
100/ -3  -->  -33.333333333333336
100/ -2  -->  -50.0
100/ -1  -->  -100.0
error
100/ 1  -->  100.0
100/ 2  -->  50.0
100/ 3  -->  33.333333333333336
100/ 4  -->  25.0
100/ 5  -->  20.0

In [49]:
L=[1,2,3,4,5]

for i in range(8):
	try:
		print (i," --> ",L[i])
	except:
		print ("error")

0  -->  1
1  -->  2
2  -->  3
3  -->  4
4  -->  5
error
error
error

In [50]:

fileName=input("Enter File Name: ")
try:
	fp=open(fileName)	# Open the file in reading mode
	fp.close()
except:
	print ("Error !! \"%s\" File Not Found"%(fileName))

print ("Done")

Enter File Name: test.cpp
Error !! "test.cpp" File Not Found
Done