In [1]:
# Q1 Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
L=[10, 20, 30, 40, 50, 60, 70, 80]
print("Initial list L=", L)

# i. WAP to add 200 and 300 to L.
L.append(200)
L.append(300)
print("List after adding 200 and 300:", L)

# ii. WAP to remove 10 and 30 from L.
L.remove(10)
L.remove(30)
print("List after removing 10 and 30:", L)

# iii. WAP to sort L in ascending order.
L.sort()
print("List sorted in ascending order:",L)

# iv. WAP to sort L in descending order.
L.sort(reverse=True)
print("List sorted in descending order:",L)

Initial list L= [10, 20, 30, 40, 50, 60, 70, 80]
List after adding 200 and 300: [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
List after removing 10 and 30: [20, 40, 50, 60, 70, 80, 200, 300]
List sorted in ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
List sorted in descending order: [300, 200, 80, 70, 60, 50, 40, 20]

In [4]:
# 2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
# perform the following operations using tuple functions:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
print("scores =",scores)

# i. Identify the highest score and its index in the tuple.
highest_score=max(scores)
index1=scores.index(highest_score)
print("highest score =",highest_score ," index is ",index1)

# ii. Find the lowest score and count how many times it appears.
lowest_score=min(scores)
count=scores.count(lowest_score)
print("lowest score =",lowest_score ," count is ",count)

# iii. Reverse the tuple and return it as a list.
scores=scores[::-1]
score_list=list(scores)
print(score_list)

# iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and print its first occurrence index, or a message saying it’s not present.int()
s=float(input("enter score: "))
if s in scores:
  print("element found at index ",scores.index(s))
else :
  print("its not present")

scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
highest score = 92  index is  5
lowest score = 45  count is  2
[45, 58, 92, 89, 45.4, 76, 89.5, 45]
enter score: 89
element found at index  3

In [5]:

# 3. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:
import random as random

def is_prime(num):
  if num<=1:
    return False
  for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
  return True

random_nums=[]

for i in range(100):
  random_nums.append(random.randint(100, 900))

print("list =",random_nums)

odd_nums=[]
even_nums=[]
prime_nums=[]

for i in random_nums:
  if i%2==0:
    even_nums.append(i)
  else :
    odd_nums.append(i)

  if is_prime(i):
    prime_nums.append(i)



    # i. All odd numbers
print("Odd nums : ",odd_nums)
# ii. All even numbers
print("Even nums : ",even_nums)
# iii. All prime numbers
print("Prime nums : ",prime_nums)

list = [608, 526, 786, 823, 773, 574, 781, 823, 334, 743, 534, 454, 478, 301, 668, 241, 708, 553, 811, 487, 370, 834, 858, 750, 433, 179, 231, 747, 103, 421, 211, 874, 178, 535, 689, 536, 236, 124, 824, 376, 312, 750, 589, 878, 510, 616, 122, 251, 820, 891, 637, 275, 474, 586, 211, 106, 110, 498, 862, 127, 442, 454, 119, 846, 266, 571, 877, 570, 430, 413, 690, 171, 883, 397, 380, 822, 679, 602, 468, 567, 408, 435, 503, 298, 862, 889, 415, 268, 682, 597, 153, 694, 421, 815, 877, 230, 111, 565, 697, 439]
Odd nums :  [823, 773, 781, 823, 743, 301, 241, 553, 811, 487, 433, 179, 231, 747, 103, 421, 211, 535, 689, 589, 251, 891, 637, 275, 211, 127, 119, 571, 877, 413, 171, 883, 397, 679, 567, 435, 503, 889, 415, 597, 153, 421, 815, 877, 111, 565, 697, 439]
Even nums :  [608, 526, 786, 574, 334, 534, 454, 478, 668, 708, 370, 834, 858, 750, 874, 178, 536, 236, 124, 824, 376, 312, 750, 878, 510, 616, 122, 820, 474, 586, 106, 110, 498, 862, 442, 454, 846, 266, 570, 430, 690, 380, 822, 602, 468, 408, 298, 862, 268, 682, 694, 230]
Prime nums :  [823, 773, 823, 743, 241, 811, 487, 433, 179, 103, 421, 211, 251, 211, 127, 571, 877, 883, 397, 503, 421, 877, 439]

In [6]:
# 4. Consider the following two sets, A and B, representing scores of two teams in multiple matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
# WAP to perform the following operations using set functions:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

# i. Find the unique scores achieved by both teams (union of sets).
unique_scores=A.union(B)
print("unique score : ",unique_scores)
# ii. Identify the scores that are common to both teams (intersection of sets).
common_scores=A.intersection(B)
print("common scores : ",common_scores)

# iii. Find the scores that are exclusive to each team (symmetric difference).
exclusive_scores=A.symmetric_difference(B)
print("symmetric difference : ",exclusive_scores)

# iv. Check if the scores of team A are a subset of team B, and if team B's scores are a superset of team A.
print("is A subset of B ",A.issubset(B))
print("is B a superset of A ",B.issuperset(A))

# v. Remove a specific score X (input by the user) from set A if it exists. If not, print a message saying it is not present.
x=int(input("enter score to remove"))
if x in A:
  A.remove(x)
  print(A)
else :
  print("its not present")

unique score :  {34, 45, 78, 23, 56, 90}
common scores :  {90, 78}
symmetric difference :  {34, 45, 23, 56}
is A subset of B  False
is B a superset of A  False
enter score to remove23
its not present

In [7]:
#5. Write a program to rename a key city to a locaƟon in the following dictionary.
dict1={
    "name":"Kelly",
    "age":25,
    "salary":8000,
    "city":"New York"
}

if "city" in dict1:
  dict1["location"] = dict1.pop("city")

print(dict1)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}